<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	This ia a page place holder for the contact
	us page for our sample application from the
	<a href="http://railstutorial.org">
	Ruby on Rails Tutorial</a>.
	You may contact Ruby on Rails Tutorial about
	the sample app at the <a href="http://railstutorial.org/contact">contact page</a>.
</p>